@import '../../common/style/public.scss';
@import './elcss-cover.scss';

.head {
  position: relative;

  .objectfit-cover {
    width: 100%;
    object-fit: cover;
  }
  &-title {
    font-size: 0.25rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  &-title {
    padding: 0.05rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  &-sbt {
    position: absolute;
    width: 0.75rem;
    right: 0.3rem;
    top: 0.48rem;
    li {
      display: inline-block;
      height: 0.75rem;
      width: 0.75rem;
      border-radius: 50%;
      line-height: 0.75rem;
      cursor: pointer;
      margin-bottom: 0.14rem;
      font-size: 0.25rem;
      color: #fff;
      background: rgba(0, 0, 0, 0.3);
      text-align: center;
    }
  }
}
.join {
  padding: 0 0.16rem;
  position: relative;
  .boardline {
    position: relative;
    width: 100%;
    padding-bottom: 7.5%;
    object-fit: cover;
    margin-top: -0.1rem;
    background: url('./default-img/boardline.png') no-repeat;
    background-size: 100%;
  }
  .contain {
    border: 0 solid transparent;
    border-left-width: 0.3rem;
    border-right-width: 0.3rem;
    margin-top: -0.3rem;
    background-clip: padding-box;
  }
  &-form {
    padding: 0.3rem;
    background: #fff;
    .title {
      font-size: 0.34rem;
      color: #313131;
      text-align: center;
    }
    .kill-price {
      display: flex;
      flex-flow: row nowrap;
      padding: 0 0.2rem;
      line-height: 1.2;

      .kill-price_person {
        text-align: center;
        font-size: 0.2rem;
        &-img {
          position: relative;
          .bargain-img {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 100%;
          }
          .bargain-nick {
            position: absolute;
            display: inline-block;
            width: 5em;
            color: #fff;
            left: 50%;
            bottom: 0;
            font-size: 0.16rem;
            padding: 0.05rem 0.08rem;
            border-radius: 0.4em;
            transform: translate(-50%, 0.12rem);
            @include gradientLR(#ffae00, #fc4a46);
          }
        }
        &-name {
          display: inline-block;
          margin-top: 0.18rem;
        }
      }
      &_con {
        margin-left: 0.6rem;
        color: #313131;
        text-align: left;
        font-size: 0.2rem;

        .through-line {
          text-decoration: line-through;
        }
        .bold {
          font-size: 0.3rem;
          font-weight: bold;
        }
        .aim-price {
          font-size: 0.4rem;
          color: #fc4a46;
        }
      }
    }
    .act-join {
      @extend %flex;
      justify-content: center;
      flex: row wrap;
      padding: 0.2rem;
      &_person {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        height: 0.48rem;
        line-height: 0.48rem;
        margin-top: 0.1rem;
        margin-right: 0.2rem;

        &-img {
          position: absolute;
          width: 0.48rem;
          height: 0.48rem;
          border-radius: 100%;
        }
        &-text {
          display: inline-block;
          color: #fff;
          font-size: 0.2rem;
          margin-left: 0.24rem;
          text-indent: 0.3rem;
          padding-right: 1em;
          border-radius: 0 1em 1em 0 / 0 1em 1em 0;
          @include gradientLR(#ffae00, #fc4a46);
        }
      }
    }
  }
}

.splitline {
  position: relative;
  height: 0.32rem;
  padding: 0 0.2rem;
  // background: radial-gradient(circle at center, #ff0 .6rem, #fff .6rem, #fff .16rem);
  background: radial-gradient(
    circle at center,
    transparent 0.06rem,
    #fff 0.06rem
  );
  background-size: 0.24rem 0.36rem;
  background-clip: content-box;
  &:before,
  &:after {
    position: absolute;
    display: inline-block;
    top: 0px;
    width: 0.2rem;
    height: 0.32rem;
    content: '';
    background-size: 0.2rem 0.32rem;
  }
  &:before {
    left: 0px;
    // background: url('./default-img/splitline.png') 0 0 no-repeat;
    background: radial-gradient(circle at 0, transparent 0.16rem, #fff 0.16rem);
  }
  &:after {
    right: 0px;
    // background: url('./default-img/splitline.png') right -.46rem no-repeat;
    background: radial-gradient(
      circle at 100%,
      transparent 0.16rem,
      #fff 0.16rem
    );
  }
}
.countdown-time {
  position: relative;
  padding: 0.3rem;
  padding-bottom: 0;
  background: #fff;
  .left-time {
    text-align: center;
    padding-bottom: 0.4rem;
    .number {
      display: inline-block;
      padding: 0.14rem 0.05rem;
      font-size: 0.45rem;
      color: #fff;
      background: rgba(49, 49, 49, 1);
      border-radius: 0.1rem;
      margin-right: 0.1rem;
    }
    .text {
      margin-right: 0.1rem;
      font-size: 0.28rem;
      color: #434343;
    }
    .no-mr {
      margin-right: 0;
    }
  }
  .line2 {
    position: absolute;
    bottom: -0.16rem;
    left: 0;
  }
}
.join-btn {
  position: relative;
  text-align: center;
  padding: 0.1rem 0 0.3rem;
  box-sizing: content-box;
  background: #fff;
  button {
    height: 0.86rem;
    line-height: 0.86rem;
    border-radius: 0.1rem;
    padding: 0 1.5em;
    margin: 0 0.5em;
    @include gradientLR(#ffae00, #fc4a46);
    font-size: 0.35rem;
    color: #fff;
    &:only-of-type {
      padding: 0 2em;
    }
  }
}
.sawtoothline {
  height: 0.18rem;
  background: url('./default-img/sawtoothline.png') repeat-x;
  background-size: 0.18rem;
}
.bargain {
  color: #5c5c5c;
  font-size: 0.3rem;
  line-height: 1.5;
  background: #ff3754;
}
.pro-des {
  .img {
    padding-top: 0.63rem;
  }
  .t {
    padding-top: 0.32rem;
    padding-bottom: 0.36rem;
    font-size: 0.4rem;
    color: #fc4d69;
    text-align: center;
  }
  .text {
    text-indent: 2em;
    text-align: justify;
    font-size: 0.3rem;
    color: #707070;
    line-height: 0.48rem;
    span {
      color: #fc4d69;
    }
  }
  .text:last-child {
    padding-bottom: 0.65rem;
  }
}
.port-rule {
  .m-card-con {
    padding-top: 0.74rem;
    padding-bottom: 0.61rem;
    line-height: 0.5rem;
    font-size: 0.3rem;
    color: #5c5c5c;
  }
}
.port-manger {
  .tag-auth {
    position: absolute;
    display: inline-block;
    height: 0.58rem;
    line-height: 0.58rem;
    width: 1.35rem;
    background: url('./default-img/bargain/tag.png') no-repeat center;
    background-size: 100%;
    right: -3px;
    top: 0.14rem;
    font-size: 0.22rem;
    color: #fff;
  }
  .text {
    margin-top: 0.24rem;
    text-indent: 2em;
    text-align: justify;
    font-size: 0.25rem;
    color: #707070;
    line-height: 0.48rem;
    padding-bottom: 0.38rem;
    margin-bottom: 0.32rem;
    border-bottom: 1px solid #c3c3c3;
  }
  .contact {
    padding-bottom: 0.38rem;
    .logo {
      text-align: center;
      img {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 10px rgba(208, 208, 208, 0.53);
      }
      p {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
        font-size: 0.34rem;
        color: #434343;
      }
    }
    .code-img {
      @extend %flex;
      align-items: center;
      justify-content: center;
      .phone-box {
        .t {
          font-size: 0.3rem;
          color: #434343;
          margin-bottom: 0.26rem;
        }
        .phone {
          display: inline-block;
          padding: 0.18rem 0.3rem 0.18rem 0.3rem;
          font-size: 0.32rem;
          color: #fff;
          border-radius: 0.33rem;
          @include gradientLR(#ffae00, #fc4a46);
          margin-bottom: 0.25rem;
          box-shadow: 1px 1px 0.1rem rgba(188, 46, 69, 0.53);
        }
        .adr {
          font-size: 0.25rem;
          color: #989898;
        }
      }
      .port-qrcode {
        margin-left: 0.4rem;
        width: 1.92rem;
        height: 1.92rem;
      }
    }
  }
}
.port-stores {
  border-top: 0.05rem solid #fc4d69;
  .port-stores-list {
    @extend %flex;
    align-items: center;
    padding-bottom: 0.2rem;
    &:not(:last-child) {
      margin-bottom: 0.1rem;
      border-bottom: 1px dotted #c3c3c3;
    }
    &_lt {
      align-self: flex-start;
      margin-top: 0.5em;
      .stores-dotted {
        display: inline-block;
        width: 0.3rem;
        height: 0.3rem;
        margin-right: 0.4rem;
        border-radius: 100%;
        overflow: hidden;
        @include gradientLR(#ffae00, #fc4a46);
      }
    }
    &_bd {
      flex: 1;
      color: #989898;
      font-size: 0.24rem;
      line-height: 2;
      .stores-name {
        color: #434343;
        font-size: 0.3rem;
      }
    }
    &_rt {
      .fast-call {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        font-size: 0.25rem;
        text-align: center;
        padding: 0.12rem;
        color: #fc4f43;
        border: 1px solid currentColor;
        box-sizing: border-box;
      }
    }
  }
}
.rank {
  .rank-list {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    padding: 0.1rem 0;
    border-bottom: 1px dotted #fc4d69;
    &_babel {
      width: 0.5rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      margin-right: 0.3rem;
      object-fit: cover;
    }
    &_personImg {
      width: 0.84rem;
      height: 0.84rem;
      margin-right: 0.2rem;
    }
    &_person {
      color: #989898;
      font-size: 0.24rem;
      flex: 1;
      .person-name {
        color: #434343;
        font-size: 0.34rem;
      }
    }
    &_bargain {
      color: #434343;
      font-size: 0.3rem;
      max-width: 8em;
      .final-price {
        color: #fc4d69;
      }
    }
  }
}
.possession {
  padding: 0.37rem 0 0.51rem 0;
  text-align: center;
  font-size: 0.26rem;
  color: #fff;
}
