@import '../../public';
$left-width: 230px !default; // 247/1920
#app {
  position: relative;
  padding-left: $left-width;
  height: 100%;
  min-width: 1366px;
  background: $c-bg;
  transition: all linear 0.3s;
}
#app.full {
  padding-left: 59px;
}
.main-right {
  position: relative;
  min-width: 1100px;
  height: 100%;
  background: #f6f8f9;
}
.main-left {
  position: fixed;
  z-index: 60;
  height: 100%;
  background: $c-red;
  width: $left-width;
  left: 0;
  top: 0;
  padding: 52px 0 0 0;
  overflow-y: auto;
  transition: all linear 0.3s;
  .left-title {
    cursor: pointer;
    padding: 0 54px;
    margin-bottom: 40px;
    .title-main {
      margin-bottom: 6px;
    }
  }
  &.hideState {
    width: 59px;
    .left-title {
      padding: 0 14px;
    }
  }
  .left-nav {
    .nav-item {
      .a-box {
        display: block;
        padding: 0 54px;
        height: 50px;
        line-height: 50px;
        transition: all linear 0.3s;
        .nav-name {
          display: block;
          position: relative;
          height: 100%;
          padding-left: 32px;
          color: #fff;
          font-size: 18px;
          cursor: pointer;
        }
        .nav-name:before {
          content: ' ';
          display: inline-block;
          height: 18px;
          width: 18px;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -9px;
        }
      }
      .a-child {
        background: #fc4a46;
        color: #f5f5f5;

        .a-child_item{
          &.act,
          &:hover{
            color: #fff;
          }
        }
        .a-child1 {
          display: inline-block;
          line-height: 60px;
          font-size: 15px;
          color: currentColor;
          padding-left: 75px;
        }
        .a-child1:before {
          content: '';
          display: inline-block;
          height: 18px;
          width: 20px;
          background: url(/static/imgs/manage/nav/icon-arrow.png)
            no-repeat center bottom;
        }
        .a-child_item:hover{
          background: $c-bg;
          .a-child1 {
            color: $c-5a;
          }
        }
        /* test:before{
						content: ' ';
						display: inline-block;
						height: 18px;
						width: 18px;
						position: absolute;
						top: 50%;
						left: 0;
						margin-top: -9px;
						background: url(/static/imgs/manage/nav/icon-arrow.png) no-repeat center;
					} */
      }
    }
    .nav-item.act,
    .nav-item:hover{
      background: $c-bg;
      .nav-name {
        color: $c-5a;
      }
    }
    /* li.a-child1 .a-child1:before{
			background: url(/static/imgs/manage/nav/icon-arrow.png) no-repeat center;
		} */
    li.nav-home{
       .nav-name:before {
          margin-top: -11px;
          background: url(/static/imgs/manage/nav/icon-home.png)
            no-repeat center;
        }
        &.act,
        &:hover{
          .nav-name:before {
            margin-top: -11px;
            background: url(/static/imgs/manage/nav/icon-home-act.png)
              no-repeat center;
          }
        }
    }
    li.nav-new {
      .nav-name:before {
        background: url(/static/imgs/manage/nav/icon-new.png) no-repeat center;
      }
      &.act,
      &:hover {
        .nav-name:before {
          background: url(/static/imgs/manage/nav/icon-new-act.png) no-repeat center;
        }
      }
    }
    li.nav-my{
      .nav-name:before {
        background: url(/static/imgs/manage/nav/icon-my.png) no-repeat center;
      }
      &.act,
      &:hover {
        .nav-name:before {
          background: url(/static/imgs/manage/nav/icon-my-act.png) no-repeat center;
        }
      }
    }

    li.nav-account {
      .nav-name:before {
        background: url(/static/imgs/manage/nav/icon-account.png) no-repeat center;
      }
      &.act,
      &:hover {
        .nav-name:before {
          background: url(/static/imgs/manage/nav/icon-account-act.png) no-repeat center;
        }
      }
    }
    li.nav-recharge {
      .nav-name:before {
        background: url(/static/imgs/manage/nav/icon-recharge.png) no-repeat center;
      }
      &.act,
      &:hover {
        .nav-name:before {
          background: url(/static/imgs/manage/nav/icon-recharge-act.png) no-repeat center;
        }
      }
    }
    li.nav-manage-son {
      .nav-name:before {
        background: url(/static/imgs/manage/nav/icon-manage-son.png) no-repeat center;
      }
      &.act,
      &:hover {
        .nav-name:before {
          background: url(/static/imgs/manage/nav/icon-manage-son-act.png) no-repeat center;
        }
      }
    }

    li.nav-data {
      .nav-name:before {
        background: url(/static/imgs/manage/nav/icon-data.png) no-repeat center;
      }
      &.act,
      &:hover {
        .nav-name:before {
          background: url(/static/imgs/manage/nav/icon-data-act.png) no-repeat center;
        }
      }
    }

    li.nav-help {
      .nav-name:before {
        background: url(/static/imgs/manage/nav/icon-help.png) no-repeat center;
      }
      &.act,
      &:hover {
        .nav-name:before {
          background: url(/static/imgs/manage/nav/icon-help-act.png) no-repeat center;
        }
      }
    }
  }
  &.hideState{
    .left-nav {
      li {
        .a-box {
          padding: 0 20px;
          .nav-name {
            padding: 0;
          }
        }
        .a-child {
          display: none;
        }
      }
    }
  }
}

.main-right {
  .right-content {
    position: relative;
    height: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-top: -60px;
    padding-top: 60px;
    overflow: auto;
  }
  .header.full {
    padding-left: 0;
  }
  .header {
    height: 60px;
    line-height: 60px;
    background: #fff;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all linear 0.3s;
    .toggle-left {
      width: 85px;
      height: 100%;
      border-right: 1px solid rgba(229, 229, 229, 1);
      position: relative;
      .icon-toggle {
        width: 30px;
        height: 18px;
        background: url(/static/imgs/manage/icon-toggle.png)
          no-repeat center;
        cursor: pointer;
      }
    }
    .header-con {
      padding-left: 64px;
      position: relative;
      .iocn-new-info {
        width: 18px;
        height: 20px;
        background: url(/static/imgs/manage/icon-new-info.png)
          no-repeat center;
        left: 30px;
        transform: translateY(-50%);
      }
      .info-text {
        margin-right: 6px;
        font-size: $f-16;
        color: $c-5a;
      }
      .info-btn {
        color: $c-red;
      }
      .header-con-right {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 10px;
        height: 30px;
        display: flex;
        line-height: normal;
        font-size: 16px;
        color: $c-5a;
        .search-box {
          display: none;
          /* display: inline-block; */
          position: relative;
          vertical-align: bottom;
          margin-right: 40px;
          width: 200px;
          height: 30px;
          input {
            width: 100%;
            height: 30px;
            border: 1px solid #ddd;
            border-radius: 16px;
            padding: 0 14px;
          }
          .icon-search {
            width: 20px;
            height: 20px;
            background: url(/static/imgs/manage/icon-search.png)
              no-repeat center;
            left: auto;
            right: 15px;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
        .same-style {
          display: inline-block;
          vertical-align: bottom;
          height: 30px;
          line-height: 30px;
          position: relative;
          padding: 0 12px;
        }
        .user-menu {
          width: 170px;
          padding-right: 24px;
          cursor: pointer;
          display: flex;
          .icon-vip {
            margin-top: 7px;
            background: transparent;
            margin-right: 10px;
            border-radius: 3px;
            z-index: 10;
          }
          .user-name {
            width: 100px;
            color: $c-red;
            top: 15%;
            z-index: 10;
            position: relative;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            text-align: center;
          }
          .icon-down {
            width: 12px;
            height: 6px;
            background: url(/static/imgs/manage/icon-down.png)
              no-repeat center;
            left: auto;
            right: 190px;
            transform: translateY(-50%);
            z-index: 10;
          }
          .menu-lists {
            position: absolute;
            width: 55%;
            height: 173px;
            right: 174px;
            top: -2px;
            padding-top: 50px;
            border: 1px solid $c-d2;
            background: #fff;
            transition: all linear 0.6s;
            z-index: 8;
            li:hover {
              background: #fc4a46;
              color: white;
            }
            li {
              height: 30px;
              font-size: $f-14;
              padding-top: 5px;
              text-align: center;
            }
            li:last-child {
              padding-bottom: 30px;
            }
          }
        }
        .help-center {
          color: $c-5a;
        }

        .help-center.same-style:before {
          content: ' ';
          display: inline-block;
          width: 1px;
          height: 18px;
          position: absolute;
          background: rgba(229, 229, 229, 1);
          left: -1px;
          top: 50%;
          margin-top: -9px;
          border-left: 1px dotted #333;
          width: 0;
        }
        .exit.same-style:before {
          content: ' ';
          display: inline-block;
          width: 1px;
          height: 18px;
          position: absolute;
          background: rgba(229, 229, 229, 1);
          left: -1px;
          top: 50%;
          margin-top: -9px;
        }
        .exit {
          cursor: pointer;
          padding-right: 42px;
          .icon-exit {
            width: 20px;
            height: 20px;
            background: url(/static/imgs/manage/icon-exit.png)
              no-repeat center;
            left: auto;
            right: 12px;
            transform: translateY(-50%);
          }
        }
        .exit:hover {
          .icon-exit {
            background: url(/static/imgs/manage/icon-exit2.png)
              no-repeat center;
          }
        }
      }
    }
  }
}

.server-returnTop {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 2000;
  .server-ser {
    width: 45px;
    height: 45px;
    border: 1px;
    background: #ffffff;
    text-align: center;
    border: 1px #d9d9d9 solid;
    border-radius: 3px;
    img {
      margin-top: 5px;
      width: 24px;
      height: 31px;
    }
  }
  .return-rer {
    width: 45px;
    height: 45px;
    background: #fc4a46;
    text-align: center;
    border-radius: 3px;
    img {
      margin-top: 13px;
      width: 26px;
      height: 16px;
    }
  }
}
